/* cdk custom style
   --- start ---  */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* --- end ---  */

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-handle {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.mixed-example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  margin-top: 20px;
  padding: 30px;
  /* config dragDropListGroup with flex */
  display: flex;
  flex-wrap: wrap;
}

.mixed-box {
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  flex: 0 0 1;
}

.example-container {
  margin: 30px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  overflow: auto;
  background: #fafafa;
  font-family: Arial, Roboto, serif;

  .title {
    padding: 8px 8px 8px 16px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.2);
    color: #0000008a;
    height: 36px;
  }

  .example {
    padding: 10px 20px 10px 20px;
  }

  .content-container {
    padding: 30px;
    overflow: auto;
  }
}

.flex-box {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex-wrap: wrap;

  input {
    margin: 5px;
  }
}

.circle {
  color: black;
  font-size: 20px;
  font-weight: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(0,0,0,.2);
  margin: 10px;
  flex-shrink: 0;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

.addBtn {
}
